<p id="notice"><%= notice %></p>

<h1>Brews</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewstyle</th>
      <th>Version</th>
      <th>Brewdate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brews.each do |brew| %>
      <tr>
        <td><%= brew.name %></td>
        <td><%= brew.brewstyle %></td>
        <td><%= brew.version %></td>
        <td><%= brew.brewdate %></td>
        <td><%= brew.notes %></td>
        <td><%= link_to 'Show', brew %></td>
        <td><%= link_to 'Edit', edit_brew_path(brew) %></td>
        <td><%= link_to 'Destroy', brew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brew', new_brew_path %>
